@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    padding: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

/* HEADER */

.header{
    /* max-width: 1000px;
    margin: auto; */
    padding: 0 15%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img{
    width: 62px;
    height: 62px;
}

.header > nav > #nav-icon{
    display: none;
}

.header > nav > .side-menu > div {
    display: flex;
    gap: 20px;
    
}

.header > nav > .side-menu > div > a{
    font-size: 20px;
}

.header > nav > .side-menu > div > a:hover{
    /* color: #4b3533; */
    color: #ffcca3;
}

/* MAIN */

.main{
    /* max-width: 1000px;
    margin: auto; */
    padding: 0 15%;
}

.primary-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-section > img {
    width: 300px;
}

.primary-section > div > h1{
    font-family: 'Righteous', cursive;
    font-size: 45px;
}

.primary-section > div > h3{
    font-size: 18px;
    margin: 25px 0 30px 0;
}

.primary-section > div > button{
    font-size: 18px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.primary-section > div > button:hover{
 background-color: #ffcca3;
}

.secondary-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.secondary-section > h4 {
    margin-bottom: 30px;
    font-size: 18px;
}

.secondary-section > p {
    margin: 15px 0;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > img{
    margin: 30px 0;
    width: 250px;
}

/* ALL */

p, h3{
    color: #ECD6C4;
}

a, h1, h4{
    color: #FFF2E7;
}

hr{
    border: 0.4px solid #FFF2E7;
}

.hr-main{
    width: 300px;
    margin: 40px auto 50px auto;
}

/* HUMBURGER MENU */

#nav-icon{
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}
  
#nav-icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #5e2c05;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 18px;
}

#nav-icon span:nth-child(4) {
    top: 36px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


/* MEDIA QUERIES */

@media (max-width: 1100px){
    .header, .main{
        padding: 0 10%;
    }
}
@media (max-width: 955px){
    .header, .main{
        padding: 0 5%;
    }
}
@media (max-width: 850px){
    .primary-section > div > h1{
        font-size: 35px;
    }
    .primary-section > div > h3,
    /* .secondary-section > h4, */
    .primary-section > div > button{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
}
@media (max-width: 794px){
    .secondary-section{
        align-items: flex-start;
    }
    .secondary-section > h4 {
        margin: 0 auto 30px auto;
    }

    .secondary-section > p {
        text-align: justify;
        text-justify: inter-word;
    }
}
@media (max-width: 794px){
    nav > .side-menu {
        /* display: flex; */
        /* display: none; */
        /* width: 300px; */
        width: 0px;
        height: 100%;
        background: #794d2a;
        position: absolute;
        top: 0;
        right: 0px;
        /* right: -300px; */

        -webkit-transition: all 0.5s ease;  
        -moz-transition: all 0.5s ease;  
        -o-transition: all 0.5s ease;  
        -ms-transition: all 0.5s ease;  
        transition: all 0.5s ease;
    }
    nav > .side-menu > div{
        flex-direction: column;
        gap: 0!important;
        margin-top: 60px;
        display: none!important;
    }
    .header > nav > #nav-icon{
        display: block;
    }
    nav > .side-menu > div > a {
        padding: 25px 0px 0px 30px;
        font-size: 25px;
        white-space: nowrap;
    }

    .hide{
        /* display: block!important; */
        /* right: 0!important; */
        width: 300px!important;
    }

    .side-menu.hide > div {
        display: flex!important;
    }
}
@media(max-width: 540px){
    .primary-section {
        flex-direction: column-reverse;
    }
    .primary-section > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 420px){
    .primary-section > img {
        width: 250px;
    }
}